extends ../layouts/LayoutTheme
             

append content
  .card
    .card-body.overflow-hidden.p-lg-6
      p=pathName
      p=pageTree
      p=CWD
      .row.align-items-center
        .col-lg-6
          img.img-fluid(src=`./assets/img/icons/spot-illustrations/21.png` alt='' style='width: 75%')
        .col-lg-6.ps-lg-4.my-5.text-center.text-lg-start
          h3.text-primary Edit me!

          p.lead Create Something Beautiful.
          a(href=`${CWD}${paths['getting-started']}`).btn.btn-falcon-primary Getting started
      button.btn.btn-lg.btn-danger(type='button', data-bs-toggle='popover', title='Popover title', data-bs-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover
      <a class="btn btn-primary me-1" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Link with href</a><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Button with data-bs-target</button>
      <div class="offcanvas offcanvas-start" id="offcanvasExample" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5><button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.</div>
          <div class="dropdown mt-3"><button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown">Dropdown button</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>





      
